 <%- include("./partials/header"); %>

<div class="container">
	<h1>Beverages</h1>
	
	<% for (var i=1; i<=bev.length; i++){%>
		<div class="d-flex justify-content-around">
		<div class="thumbnail col-lg-3 col-sm-5">
			<img src="<%=bev[i-1].img%>" width=300px height=200px>	
			
			<div class="caption-full">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h3> <%=bev[i-1].name%></h3>
					</div>
					<div class="col-md-6 col-sm-6">
						<h3>Rs. <%= bev[i-1].price %></h3>
					</div>
				</div>
				<form action="/addToCart/<%= bev[i-1]._id %>" method="POST">
							<label>Qty:</label>
							<input class="i1" type="number" name="quantity" min="1" step="1">
							<button class="btn btn-primary">
							Add to Cart
							</button>
				</form>
			</div>	
		</div>
	</div>
<%}%>
</div>