<%- include("./partials/header"); %>
<div class = "container">
	<h1>Vegetables</h1>

	<% for (var i=1; i<=veges.length; i++){ %>
		<div class="d-flex justify-content-around">
			<div class="thumbnail col-lg-3 col-sm-5">
			<img src="<%=veges[i-1].img%>" width=280px height=250px>	
			<div class="caption-full">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h3><%=veges[i-1].name%></h3>
					</div>
					<div class="col-md-6 col-sm-6">
						<h3>Rs. <%= veges[i-1].price %>/kg</h3>
					</div>
				</div>
				<form action="/addToCart/<%= veges[i-1]._id %>" method="POST">
					<label>Qty:</label>
					<input class ="i1" type="number" name="quantity" min="1" step="1">
					<button class="btn btn-primary">
					Add to Cart
					</button>
				</form>
			</div>	
			</div>
		</div>
	<%}%>
</div> 

